.btncolor{
    
    border-color: #0EAD69 !important;
    background-color: rgba(14, 173, 104, 0.596) !important;
    
}
.navcolor{


    background-color: red;
}
.MakeGreen{
    color: #0EAD69;
}
.clralert{
    color: red;
}
.btncolor:hover{ border-style: none;
    border-color: #0EAD69 !important;
    background-color: #0EAD69 !important;}
.btncolor:active{ border-style: none;
    border-color: #0EAD69 !important;
    background-color: #0EAD69 !important;}

.btncolor:visited{ border-style: none;
    border-color: #0EAD69 !important;
    background-color: #0EAD69 !important;}

    .chkbtn{
        border-style:hidden;
        color: black;
        border-color: rgb(255, 255, 255) !important;
        background-color:  #0EAD69
        !important;
        
    }
    .signup{
        font-size: 20px;
        border-style: solid;
background-color: white;
color: #0EAD69;
    
    border-radius: 30px;
    border-spacing: 50px;
    border-color: rgba(0, 0, 0, 0);

    }
    .chkbtn:focus {
        outline: none !important;
        outline-offset: none !important;
    }
    .iconsy{
                color:rgb(255, 255, 255);
        

    }

    .ChatData{
        padding-top: 20%;
        padding-bottom:20%;
        background-color: white;
    }
    .makeDiv{
        background-color: rgba(0, 36, 24, 0);

        width: 100%;
        /* border: solid 1px black; */
        box-shadow: 0px 5px 5px #2c914580;
        /* padding-top: 20%;
        padding-bottom: 50%;
        padding-left: 30%;
        padding-right:30%;
        border-radius: 25px; */

    }
    
   .makecenter{
       text-align: center;
   }
   .ccheckwidth{
       width: 1050px;
   }
   .modal-header{
      color: white;
    
       text-align: center;
       background-color: #0EAD69 ;
   }
  
  modal-90w { max-width: 10% !important;
height: 100%; }
.my-modal {
    width: 90vw ;   /* Occupy the 90% of the screen width */
    max-width: 90vw;
} 
    .load
{
    height: 100vh;
    width: 100%;
    
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
   display:flex;
}
.btnsetting{
    color:rgb(255, 255, 255);
    border-style: solid;
    border: 3px ;
}
.signup2{
   
    font-size: 30px;
    border-style: solid;
background-color: white;
color: #0EAD69;
    
    border-radius: 30px;
    border-spacing: 50px;
    border-color: rgba(0, 0, 0, 0);
}









button
{
    background-color:  #0EAD69;;
}

.dropbtn{
   background-color:  rgba(14, 173, 104, 0.596);
   outline: none !important;
    outline-offset: none !important;
    border: none;
    box-shadow:none;
    color: white;

}
button.btn {
    list-style-type: none;
    text-decoration: none;
    padding: 5px;
    text-align: left;
    color:white;
}
button.btn:hover {
    color: rgb(255, 255, 255);
    list-style-type: none;
    text-decoration: none;
    
    
    border-bottom: none;
}
.dropdown-item {
    
    width: 100%;
    
    font-weight: 30;
    color: rgb(0, 0, 0);
   
    background-color: transparent;
    border: 0;
}

button.btn :visited{
    list-style-type: none;
    text-decoration: none;
    padding: 5px;
    text-align: left;
    color:white;
    border:none
}









.dropbtnnn {
    background-color: transparent;
    color: white;
  
    font-size: 16px;
    border: none;
    outline:none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    outline: none;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(255, 253, 253);
outline:none;
}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;
    outline: none;
right:0%;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;
outline: none;}

div:focus
{ outline: none; }


.dropbtnnn:focus {
outline:none;
}







.iconbell{
    color: white;
   
}
.iconred{
    color: rgb(243, 12, 12);
   
}
.makenote{
    font-size: 100%;
   
   
    
}

.btnspan{
    font-size: 10px;
    padding-left: 5px;
    
}
.dropbtn :hover{
    background-color:  rgba(14, 173, 104, 0.596);
    outline: none !important;
     outline-offset: none !important;
     border: none;
     box-shadow:none;
     color: white;
 
 }
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
   
    box-shadow: none;
}
   div.show.dropdown{
    background-color:  rgba(14, 173, 104, 0.596);
    outline: none !important;
     outline-offset: none !important;
     border: none;
     box-shadow:none;
   }

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    background-color:  rgba(14, 173, 104, 0.596);
    outline: none !important;
     outline-offset: none !important;
     border: none;
     border-style: none;
     box-shadow:none;
}
.btn-primary:hover  {
    background-color:  rgba(14, 173, 104, 0.596);
    outline: none !important;
     outline-offset: none !important;
     border: none;
     border-style: none;
     box-shadow:none;
}

.btn-primary:focus {
    background-color:  rgba(14, 173, 104, 0.596);
    outline: none !important;
     outline-offset: none !important;
     border: none;
     border-style: none;
     box-shadow:none;
}

button:visited{
    border-style:none;
}
    .navbar{
        background-color:  #0EAD69;
        opacity:1;
        margin-top:0%;
        color: rgba(14, 173, 104, 0.596);
       
    }
   
    .navbar-brand, .navbar-nav .nav-link{
        color: white;

    }
    .sidedrawer{
background-color: black;
      width: 20%;
    height:100%;
    }


    
    .navbar-brand .navbar-nav .nav-link :hover{
        color: black ;
       
    }


    .setfont{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 45px;
        text-align: center;
    }

    .setDiv{

        background-color: black;
        
        }

        .setflex{
           
            margin-top: -0.5%;
           margin-left:6%;
           background-color: rgb(0, 36, 24);
            /* padding-top: 5%; */
            padding-bottom: 10%;
        
       overflow: hidden;
       

        
        
        
       
        }
        


        .setflexx{
       

           
            margin-top: -0.5%;
           margin-left:20.5%;
           background-color: rgb(0, 87, 61);
           /* padding-top: 5%; */

            padding-bottom: 10%;
        
    
            overflow: hidden;
        
        
        }

        @media(min-width: 320px) and (max-width: 374px){
            .setflex{
           
                margin-top: -0.5%;
               margin-left:0%;
               background-color: rgb(0, 36, 24);
                padding-top: 5%;
                padding-bottom: 10%;
            
           overflow: hidden;
           
    
            
            
            
           
            }
            
    
    
            .setflexx{
           
                position: relative;
        
                z-index:-1;
               
                margin-top: -0.5%;
               margin-left:0%;
               background-color: rgb(0, 87, 61);
               padding-top: 5%;
    
                padding-bottom: 10%;
            
        
                overflow: hidden;
            
            
            }

        }







    @media(min-width: 375px) and (max-width: 425px){
        .setflex{
           
            margin-top: -0.5%;
           margin-left:-30%;
           background-color: rgb(0, 36, 24);
            padding-top: 5%;
            padding-bottom: 10%;
        
       overflow: hidden;
       

        
        
        
       
        }
        


        .setflexx{
       
            position: relative;
        
            z-index:-1;
           
            margin-top: -0.5%;
           margin-left:-30%;
           background-color: rgb(0, 87, 61);
           padding-top: 5%;

            padding-bottom: 10%;
        
    
            overflow: hidden;
        
        
        }
  
     
    }
    @media(min-width: 425px) and (max-width: 768px){
        .setflex{
           
            margin-top: -0.5%;
           margin-left:0%;
           background-color: rgb(0, 36, 24);
            padding-top: 5%;
            padding-bottom: 10%;
        
       overflow: hidden;
       

        
        
        
       
        }
        


        .setflexx{
       
            position: relative;
        
            z-index:-1;
           
            margin-top: -0.5%;
           margin-left:0%;
           background-color: rgb(0, 87, 61);
           padding-top: 5%;

            padding-bottom: 10%;
        
    
            overflow: hidden;
        
        
        }
    
  }
    @media(min-width: 768px) and (max-width: 1024px){
        .setflex{
           position: fixed;
            margin-top: -0.5%;
           margin-left:10%;
           background-color: rgb(0, 59, 40);
            padding-top: 5%;
            padding-bottom: 10%;
        
       overflow: hidden;
       

        
        
        
       
        }
        


        .setflexx{
       
     
           
            margin-top: -0.5%;
           margin-left:25.5%;
           background-color: rgb(0, 87, 61);
           padding-top: 5%;

            padding-bottom: 10%;
        
    
            overflow: hidden;
        
        
        }
    
  }
    @media(min-width: 1024px) and (max-width: 1440px){
    
        .setflex{
           
            margin-top: -0.5%;
           margin-left:2%;
           background-color: rgb(0, 36, 24);
            padding-top: 2%;
            padding-bottom: 10%;
        
       overflow: hidden;
       

        
        
        
       
        }
        


        .setflexx{
       

           
            margin-top: -0.5%;
           margin-left:15%;
           background-color: rgb(0, 87, 61);
           padding-top: 2%;

            padding-bottom: 10%;
        
    
            overflow: hidden;
        
        
        }

      
  }
  
  
  
  @media(min-width: 1440px) and (max-width: 2560px){
    
  
    .setflex{
           
        margin-top: -0.5%;
       margin-left:5%;
       background-color: rgb(0, 36, 24);
        padding-top: 5%;
        padding-bottom: 10%;
    
   overflow: hidden;
   

    
    
    
   
    }
    


    .setflexx{
   

       
        margin-top: -0.5%;
       margin-left:15.5%;
       background-color: rgb(0, 87, 61);
       padding-top: 5%;

        padding-bottom: 10%;
    

        overflow: hidden;
    
    
    }

      
  }