.jumbo{
    background: url(../../assets/GREEN.jpg) no-repeat fixed ; 
    
    background-size: cover;
    height: 900px;
    
    
    

    filter: alpha(opacity=30);
    
    
    
    }

  
    .fonto{
        font-family: Robot-condensed;
        font-size: 72px;
        margin-top: 95px;
            }
        .sapn1{
            color: #0EAD69
        }
        .subtitle12{
          margin-left: 225px;  
          margin-top: -15px;


        }
        .remove-opacity{
            opacity: 15;
            color:green;
        }
        .wiwi{
            max-width: 100%;
            background-color: blue;
        }



.mrsel{
    margin-left:155px;
    
    font-family: Robot-condensed;

}
.head1{
    font-size: 65px;
}
.bottomtitile{
    font-size: 15px;
    padding-left: 100px;
}
.adjustsm{
    color: black;
    margin-left: 0px ;
}

    .titlee{


        text-align: center;
        margin-top: 50px;
    }
    .yourvar{color: #0EAD69;}
    .mnghead{
 font-size: 55px;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }

    .marlef{
        margin-right: 50px;
    }



    @media(min-width: 320px) and (max-width: 375px){
        .fonto{
            font-family: Robot-condensed;
            font-size: 45px;
            margin-top: 95px;
                }
            
            .spland{
                color: black;
                margin-left: 55px;
            }

            .subtitle12{
                margin-left: 0px;  
                margin-top: 0px;
      
      
              }

            img.offset-3{
                margin-left: 85px;
            }

            .jumbo{
                background: url(../../assets/GREEN.jpg) no-repeat fixed ; 
                
               
                
                background-repeat: no-repeat;
                background-size: 100% 100%;
                
                
            
                filter: alpha(opacity=30);
                
                
                
                }
            
            


      }
        
      
      
      @media(min-width: 375px) and (max-width: 425px){
        
    
            .fonto{
                font-family: Robot-condensed;
                font-size: 55px;
                margin-top: 95px;
                
                    }
                
                .spland{
                    color: black;
                    margin-left: 65px;
                }
    
                .subtitle12{
                    margin-left: 30px;  
                    margin-top: 0px;
                    color: rgb(10, 219, 115);
          
          
                  }
    
                img.offset-3{
                    margin-left: 125px;
                }
   
        }
        @media(min-width: 425px) and (max-width: 768px){
            .fonto{
                font-family: Robot-condensed;
                font-size: 65px;
                margin-top: 95px;
                
                    }
                
                .spland{
                    color: black;
                    margin-left: 90px; 
                }
    
                .subtitle12{
                    margin-left: 55px;  
                    margin-top: 0px;
                    color: rgb(10, 219, 115);
          
          
                  }
    
                img.offset-3{
                    margin-left: 145px;
                }
        
      }
        @media(min-width: 768px) and (max-width: 1024px){
        
            .fonto{
                font-family: Robot-condensed;
                font-size: 65px;
                margin-top: 95px;
                
                    }
                
                .spland{
                    color: black;
                    margin-left: 0px; 
                }
    
                .subtitle12{
                    margin-left: 200px;  
                    margin-top: 0px;
                    color: rgb(10, 219, 115);
          
          
                  }
                  img.offset-3{
                    margin-left: 265px;
                }
      }
        @media(min-width: 1024px) and (max-width: 1440px){
        
        
          
      }
      
      
      
      @media(min-width: 1440px) and (max-width: 2560px){
        
        
            
      }


