.btncolor{
    
    border-color: #0EAD69 !important;
    background-color: rgba(14, 173, 104, 0.596) !important;
    
}
.MakeGreen{
    color: #0EAD69;
}
.clralert{
    color: red;
}
.btncolor:hover{ border-style: none;
    border-color: #0EAD69 !important;
    background-color: #0EAD69 !important;}
.btncolor:active{ border-style: none;
    border-color: #0EAD69 !important;
    background-color: #0EAD69 !important;}

.btncolor:visited{ border-style: none;
    border-color: #0EAD69 !important;
    background-color: #0EAD69 !important;}

    .chkbtn{
        border-style:hidden;
        
        border-color: #0EAD69 !important;
        background-color: #0EAD69
        !important;
        
    }
    .signup{
        font-size: 20px;
        border-style: solid;
background-color: white;
color: #0EAD69;
    
    border-radius: 30px;
    border-spacing: 50px;
    border-color: rgba(0, 0, 0, 0);

    }
    .chkbtn:focus {
        outline: none !important;
        outline-offset: none !important;
    }
    .iconsy{
                color:white;
        

    }
    
   .makecenter{
       text-align: center;
   }
   .ccheckwidth{
       width: 1050px;
   }
   .modal-header{
      color: white;
    
       text-align: center;
       background-color: #0EAD69 ;
   }
  
  modal-90w { max-width: 10% !important;
height: 100%; }
.my-modal {
    width: 90vw ;   /* Occupy the 90% of the screen width */
    max-width: 90vw;
} 
    .load
{
    height: 100vh;
    width: 100%;
    
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
   display:flex;
}
.btnsetting{
    color:rgb(255, 255, 255);
    border-style: solid;
    border: 3px ;
}
.signup2{
   
    font-size: 30px;
    border-style: solid;
background-color: white;
color: #0EAD69;
    
    border-radius: 30px;
    border-spacing: 50px;
    border-color: rgba(0, 0, 0, 0);
}









button
{
    background-color:  #0EAD69;;
}



button:visited{
    border-style:none;
}
    .navbar{
        background-color: rgba(14, 173, 104, 0.781);
        opacity:1;
        margin-top:0%;
       
    }
   
    .navbar-brand, .navbar-nav .nav-link{
        color: white;

    }
    .sidedrawer{
background-color: black;
      width: 20%;
    height:100%;
    }


    
    .navbar-brand .navbar-nav .nav-link :hover{
        color: black ;
       
    }
